<div id="main">

  <div id="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-5">
        <h5 class="my-0 mr-auto">
          <img src="assets/logo-telzir.png" alt="Logo Telezir">
        </h5>
        <nav class="d-none d-lg-block">
          <a id="informacoes" class="px-3 text-white" href="#">Clique aqui para  maiores <br> informações sobre o FaleMais</a>
          <span id="contato" class="p-2 text-white" href="#">
            <mat-icon>phone</mat-icon>
            0800 99 9999
          </span>
        </nav>
    </div>
  </div>


  <br><br><br>

  <simulacao></simulacao>

</div>


