<div class="card text-center p-3 px-md-5">
    <div id="titulo"> Simulador de Ligação </div>


    <!-- INPUTS -->
    <form class="text-left" [formGroup]="simuladorForm">
      <div class="row">
        <div class="col">
          <label for="selectedCall">Origem</label>
          <select class="form-control" formControlName="selectedCallId" (change)="callSelected()">
            <option *ngFor="let call of callOptions, let i = index" value="{{i}}">
              {{call.origin.ddd}}
            </option>
          </select>
        </div>
        <div class="col">
          <label for="selectedDestiny">Destino</label>
          <select class="form-control" formControlName="selectedDestinyId">
            <option *ngFor="let destination of selectedCall.destinations, let i = index" value="{{i}}">
              {{destination.location.ddd}}
            </option>
          </select>
        </div>
        <div class="col">
          <label for="time">Tempo</label>
          <input type="number" class="form-control" formControlName="time" min="1" max="200" (keypress)="checkValid()">
        </div>
      </div>


      <!-- SELECTOR -->
      <label for="plan">Plano</label>
      <div class="text-center">
        <div class="btn-group-toggle" data-toggle="buttons">
          <label class="btn">
            <input type="radio" name="planId" formControlName="planId" id="faleMais30" value="1" (change)="planSelected($event)"> faleMais30
          </label>
          <label class="btn">
            <input type="radio" name="planId" formControlName="planId" id="faleMais60" value="2" (change)="planSelected($event)"> faleMais60
          </label>
          <label class="btn">
            <input type="radio" name="planId" formControlName="planId" id="faleMais90" value="3" (change)="planSelected($event)"> faleMais90
          </label>
          <label class="btn">
            <input type="radio" name="planId" formControlName="planId" id="faleMais120" value="4" (change)="planSelected($event)"> faleMais120
          </label>
        </div>
      </div>
    </form>


    <!-- RESULT -->
    <div *ngIf="showPlan; else elseBlock">
        <div class="row mt-5 mb-5 mx-2">
          <div id="with-falemais" class="col-sm py-5">
              <img src="assets/logo-falemais.png" alt="Logo Telezir">
              <div>
                <span class="coin">R$</span> 
                <span class="integer">00</span> 
                <span class="cents">,00</span>
              </div>
          </div>
          <div id="without-falemais" class="col-sm py-5">
            Sem FaleMais
            <div>
              <span class="coin">R$</span> 
              <span class="integer">0</span> 
              <span class="cents">,00</span>
            </div>
          </div>
        </div>
    </div>

    <ng-template #elseBlock>
      <img id='image' src="assets/image.png" alt="Logo Telezir">
    </ng-template>
    
</div>